@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>At some point this will be a contact form, but for now you can just email me at the address below.</p>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Admin:</span>
        <span><a href="mailto:admin@waderohrbach.com">admin@waderohrbach.com</a></span>
    </p>
</section>