html {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

body {
    padding-top: 60px;
    padding-bottom: 40px;              
    background-color: #fff;
    color: #666;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

body.mceContentBody { padding: 4px; overflow: hidden }

hr {
    background:url('/Content/img/hr_long.png') no-repeat 50% 0;
    width: 75%;
    height: 13px;
    border: 0;
    border-color: #fff;
    margin: 20px auto 20px auto;
}

.lt-ie8 hr {
    background: none;
    height: 0;
}

a {
    -webkit-transition: color .3s, text-shadow .3s;
    -moz-transition: color .3s, text-shadow .3s;
    -o-transition: color .3s, text-shadow .3s;
    transition: color .3s, text-shadow .3s;
    color: #5ba1cf;
    outline: none;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255,1);
}

    a:link, a:visited,
    a:active, a:hover {
        color: #5ba1cf;
    }

    a:hover 
    {
        color: #333;
        text-decoration: none;
    }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .site-title a { color: #333 !important; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .site-title a:hover { color: #5ba1cf !important; text-shadow: 0 0 10px rgba(91, 177, 207, .3); }

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center { margin-left: auto !important; margin-right: auto !important; }
.centered { text-align: center; }
.align-right { text-align: right; }
.align-left{ text-align: left; }

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.inner-shadow-right
{
    -webkit-box-shadow: inset -10px 0px 10px -10px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset -10px 0px 10px -10px rgba(0, 0, 0, .1);
    -o-box-shadow: inset -10px 0px 10px -10px rgba(0, 0, 0, .1);
    box-shadow: inset -10px 0px 10px -10px rgba(0, 0, 0, .1);
}

.inner-shadow-left
{
    -webkit-box-shadow: inset 10px 0px 10px -10px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 10px 0px 10px -10px rgba(0, 0, 0, .1);
    -o-box-shadow: inset 10px 0px 10px -10px rgba(0, 0, 0, .1);
    box-shadow: inset 10px 0px 10px -10px rgba(0, 0, 0, .1);
}

/* site title
----------------------------------------------------------*/
div#header { margin: 0; }

.site-title { 
    float: right;
    text-align: right;
}
.site-title a, .site-title {
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    text-decoration: none;
}

/* Blog Styles */
.blog-title h1 { margin-bottom: .2em; }
.blog-byline { font-style: italic; }
.blog-publish-date { font-size: .8em; margin-bottom: 15px; }
.blog-title, .blog-byline, .blog-publish-date { text-align: center; }
.blog-actions { text-align: center; }
.blog-actions a { margin-right: 15px; }
.blog-content img
{
    padding: 4px;
    margin: 4px 10px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.blog-content img.float-left
{
    margin: 4px 10px 4px 0;
}

.blog-content img.float-right
{
    margin: 4px 0 4px 10px;
}

/* Blog Comment */
.comment {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-height: 120px;
}
.comment-date {
    color: #c0c0c0;
    overflow: hidden;
    padding: 1px 10px 5px;
    position: absolute;
    right: 0;
    font-size: 80%;
}
.comment-body {
    margin-bottom: 19px;
    position: relative;
    width: 460px;
    top: 35px;
    left: 130px;
    padding-bottom: 1em;
    word-break: normal
}
.comment-footer {}
.comment-gravatar-block {
    position: absolute;
    top: 0;
    left: 0;
}
.comment-gravatar {
    width: 110px;
    height: 110px;
    margin-left: 0!important;
}
.comment-permalink {
    position: absolute;
    top: 0;
    left: 130px;
    word-break: break-all;
}

/* content */
aside 
{
    margin: 10px 0 0;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {
            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

footer { text-align: center; }

/* Table Styles */
table.index { width: 100%; text-align: center; font-size: .8em; }
table.index tr:nth-child(odd) { background-color: #e0e0e0; }
table.index th { text-shadow: 0 1px 1px rgba(255,255,255,0.75); font-size: 1.2em; } 

/* login page */
#loginForm {
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }


#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }


label {
    display: block;
    font-size: 1.2em;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

input[type="submit"], input[type="button"] { margin: 0; }

div.input-buttons { margin-left: 25px; }

textarea {
    font-family: inherit;
    width: 500px;
}

input:focus, textarea:focus {
    border: 1px solid #7ac0da;
}

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

.editor-label { }
.editor-field { }

.comment-form { }
    .comment-form .editor-labels { height: 450px; }
    .comment-form .editor-label { margin: 6px 0 29px; padding-right: 7px; }
    .comment-form .editor-fields { margin: 0; padding-top: 3px; }
    .comment-form .field-validation-error { position: absolute; left: 26%; margin-top: -17px; }
    .comment-form .gravatar-message { position: absolute; margin-top: 4px; margin-left: 5px; }
    .comment-form #Comment { width: 400px; height: 225px; }

/* info and errors */
.message-box {
    display: block;
    margin: 20px 0 10px 0;
    font-size: 1em;
    height: 0;
    opacity: 0;
}

    .message {
        display: inline-block;
        border: 1px solid;
        color: #333;
        height: auto;
        padding: 10px 20px;
        max-width: 65%;
    }
        .message a
        {
            text-shadow: none;
        }

    .message-info {
    }

    .message-error {
        border-color: #e80c22;
        background-color: #ffd7d7;
        box-shadow: inset 0px -1px 1px rgba(255,160,160,.4);
    }

    .message-success {
        color: #7ac0da;
    }

.error {
    color: #e80c22;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c22;
    font-size: .9em;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c22;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

/* Fade-in animations*/
.fadein {
    height: auto;
    opacity: 1;
    -moz-animation: fadein 2s ease-in;
    -webkit-animation: fadein 2s ease-in;
    -o-animation: fadein 2s ease-in;
    animation: fadein 2s ease-in;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}​
