<p>
    <a href="http://stackoverflow.com/users/419965/rohrbs">
        <img class="so-flair" src="http://stackoverflow.com/users/flair/419965.png" width="208" height="58" alt="profile for Rohrbs at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Rohrbs at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</p>

<hr />

<div>
    <h3>About Me</h3>
    <p>Hi! My name is Wade, and this is my blog. In case you don't know me, I'm a developer who has a passion for C#, MVC, and HTML/CSS.</p>
    <p>I'm currently based in Nashville, TN and work as a .NET developer for the industry leader in fire and water cleanup and restoration.</p>
    <p>@Html.RouteLink("View Details »", "Content", routeValues: new { urlSegment = "About", Area = "" }, htmlAttributes: new { @class = "button" })</p>
</div>

<hr />
