<p>
    <a href="http://stackoverflow.com/users/419965/rohrbs">
        <img class="so-flair" src="http://stackoverflow.com/users/flair/419965.png" width="208" height="58" alt="profile for Rohrbs at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Rohrbs at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</p>

<hr />

<div>
    <h3>About Me</h3>
    <p>Hi! My name is Wade, and this is my blog. In case you don't know me, I'm a developer who currently has a passion for C#, MVC, and HTML/CSS. However, I enjoy learning new technologies and find the opportunity to challenge myself and expand my repertoire extremely rewarding.</p>
    <p>I currently live in the San Francisco Bay Area and am employed as a Sr. Software Engineer for a company in the financial services industry.</p>
    <p>@Html.IconLink(" View Details", "ContentPage", "Blog", fragment: null, routeValues: new { urlSegment = "About", Area = "" }, htmlAttributes: new { @class = "btn" }, iconHtmlAttributes: new { @class = "icon-steam" })</p>
</div>

<hr />
