@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section asides{
                <div class="four columns inner-shadow-left">
                    <aside>
                        @Html.Partial("_AsidesPartial")
                        @RenderSection("aside", required: false)
                    </aside>                    
                </div>
}
@RenderBody()

@section scripts {
    @RenderSection("scripts", required: false)
}