@model WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogPost

@{
    ViewBag.Title = @Model.Title;
}

<div class="blog-title"><h1>@Model.Title</h1></div>
<div class="blog-content">@Html.Raw(Model.Text)</div>
<div>
    @if (ViewBag.BlogSettings.IsAdmin)
    {
        @Html.ActionLink("Edit", "Edit", "BlogAdmin", routeValues: new { Area = "SiteAdmin", id = Model.Id }, htmlAttributes: null)
    }
</div>
