@model WR.Blog.Mvc.Areas.SiteAdmin.Models.BlogPost

@{
    ViewBag.Title = @Model.Title;
}

<div>
    @if (ViewBag.IsAdmin)
    {
        @Html.ActionLink("Edit Post", "Edit", "BlogAdmin", routeValues: new { Area = "SiteAdmin", id = Model.Id }, htmlAttributes: new { @class = "button" })
    }
</div>

@Html.Partial("BlogBody", Model)

